.btn-info {
    background-color: #d6ca89 !important;
    outline-color: #d6ca89 !important;
}

#basic-addon1 {
    background-color: #d6ca89;
}

.btn-danger {
    background-color: #ee6c4d !important;
}

.compRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}