.formEntry {
    max-width: 400px;
    min-width: 400px;
}

.btn-warning {
    background-color: #fcbf49 !important;
}

.btn-danger {
    background-color: #ee6c4d !important;
}

#basic-addon1 {
    background-color: #d6ca89;
}

.card-header {
    background-color: #661018 !important;
}

.card-body {
    background-color: #d6ca89 !important;
}